.error {
  p {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }

  a {
    display: inline-block;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #000;
    background-color: #ccc;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 1px;
    transition: background-color .5s ease-in-out, color .5s ease-in-out;
    margin: auto 10px;

    &:hover {
      background-color: #74879C;
      color: #fff;
    }
  }
}