<div class="generate">
  <p class="desc">Success ! Please use this link : </p>
  <a id="copy" class="link" href="{{ newUrl }}">{{ newUrl }}</a>
  <div class="btn">
    <button onclick="copyHandler('copy')">Copy</button>
    <a href="/">Back</a>
  </div>
</div>
