<div class="generate">
  <p class="desc">Success ! Please use this link : </p>
  <a class="link" href="javascript:;">https://your-project-name.herokuapp.com/6y7UP</a>
  <div class="btn">
    <button>Copy</button>
    <a href="/">Back</a>
  </div>
</div>
