<div class="generate">
  <p class="desc">Success ! Please use this link : </p>
  <a class="link" href="http://{{ url }}">{{ newUrl }}</a>
  <div class="btn">
    <button class="copy">Copy</button>
    <a href="/">Back</a>
  </div>
</div>
